<h3><%= link_to "Registrate aquí", new_register_path %></h3>


Página de la ubucon 2010 Argentina<br>
==================================<br>
super alpha 0.00003 <br>

<h1>Cosas pendientes</h1>
<h2>Social Media</h2>
<ul class="list">
  <li>facebook connect</li>
  <li>tweet this</li>
  <li>send an email recommending</li>
  <li>hashtags: #ubuntu, #ubucon</li>
  <li>identi.ca</li>
  <li>google calendar</li>
</ul>

<h2>Páginas disponibles</h2>
<ul class="list">
  <li>para quienes</li>
  <li>donde</li>
  <li>quienes</li>
  <li>registro</li>
  <li>contacto</li>
  <li>speakers</li>
</ul>

<h2>widgets</h2>
<ul class="list">
  <li>rss</li>
  <li>links</li>
</ul>

<p>tambin quiero poder exportar a CSV la lista de contactos registrados</p>
<p>ya he hecho varias de estas cosas, por eso creo que si podré hacerlas :)</p>
